<div class="modal fade" id="modalProfileAdd" tabindex="-1" role="dialog" aria-labelledby="modalProfileAddLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalProfileAddLabel">Edit Profile</h5>
      </div>
      <div class="modal-body">
        <form id="add_profile">
          <div class="form-group">
            <label for="add_profile_name">Name</label>
            <input id="add_profile_name" class="form-control" type="text" />
          </div>
          <div class="form-group">
            <label for="add_profile_description">Description</label>
            <input id="add_profile_description" class="form-control" type="text" />
          </div>
          <div class="form-group">
            <label for="add_profile_address">Address</label>
            <input id="add_profile_address" class="form-control" type="text" />
          </div>
          <div class="form-group">
            <label for="add_profile_phone">Phone</label>
            <input id="add_profile_phone" class="form-control" type="text" />
          </div>
          <div class="form-group">
            <label for="add_profile_picture">Photo URL</label>
            <input id="add_profile_picture" class="form-control" type="text" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="add_profile_submit" type="button" class="btn btn-primary" onclick="add_submitProfile()">Save profile</button>
      </div>
    </div>
  </div>
</div>

<script>

function add_submitProfile() {
  var data = {
    "name": jQuery('#add_profile_name').val(),
    "description":  jQuery('#add_profile_description').val(),
    "address":  jQuery('#add_profile_address').val(),
    "phone":  jQuery('#add_profile_phone').val(),
    "picture":  jQuery('#add_profile_picture').val()
  }

  jQuery.ajax({
    type: 'POST', url: '/api/v1/profiles/',
    contentType: 'application/json',
    headers: {
      'Content-Type': 'application/json',
    },
    data: JSON.stringify(data),
    success: function(response) {
      location.reload();
    }
  })
}



</script>