<nav class="navigation">
    <a class="navigation-link" href="/dashboard">{{> icon-dashboard}}</a>
    <a class="navigation-link center-link" href="/check-in">{{> icon-pin}}</a>
    <a class="navigation-link" href="/account">{{> icon-account}}</a>
    {{!-- <a class="navigation-link" href="/settings">{{> icon-settings}}</a>
    <a class="navigation-link" href="/info">{{> icon-info}}</a> --}}
</nav>